﻿@{ViewBag.Title = "Country Add";}
@model elearning_net.Models.CountryModelSearch

    <h2> Add </h2>

<div align = "center">
@using (Html.BeginForm("add", "Country", FormMethod.Post))
{ 
    <table class = "table"> 
    <tr>
        <td>@Html.LabelFor(model => model.country.country_name) </td>
        <td>@Html.TextBoxFor(model => model.country.country_name) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.phone_code) </td>
        <td>@Html.TextBoxFor(model => model.country.phone_code) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.country_code) </td>
        <td>@Html.TextBoxFor(model => model.country.country_code) </td> 
    </tr>  
    <tr>
        <td></td>
        <td><input class="btn btn-success" type = "submit" value = "Save"/></td> 
    </tr> 
</table>
} 
</div>  