﻿@{ViewBag.Title = "Country Detail";}
@model elearning_net.Models.CountryModelSearch

    <h2> Detail </h2>

<div align = "center">  
    <table class = "table">
    <tr>
        <td>@Html.LabelFor(model => model.country.country_name) </td>
        <td>@Html.DisplayFor(model => model.country.country_name) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.phone_code) </td>
        <td>@Html.DisplayFor(model => model.country.phone_code) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.country_code) </td>
        <td>@Html.DisplayFor(model => model.country.country_code) </td> 
    </tr>  
</table> 
</div>  