﻿@{ViewBag.Title = "Country Edit";}
@model elearning_net.Models.CountryModelSearch

    <h2> Edit </h2>

<div align = "center">
@using (Html.BeginForm("edit", "Country", FormMethod.Post))
{ 
    <table class = "table">  
    <tr>
        <td>@Html.LabelFor(model => model.country.country_name) </td>
        <td>@Html.TextBoxFor(model => model.country.country_name) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.phone_code) </td>
        <td>@Html.TextBoxFor(model => model.country.phone_code) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.country.country_code) </td>
        <td>@Html.TextBoxFor(model => model.country.country_code) </td> 
    </tr>  
    <tr>
        <td></td>
        <td>
            <input class="btn btn-success" type = "submit" value = "Save"/> &nbsp; 
            <a class = "btn btn-danger" href = "@Url.Action("Index","Country")"> Back </a>
            @Html.HiddenFor(model => model.country.id) 
       </td>
    </tr> 
</table>
} 
</div>  