﻿@{ViewBag.Title = "Country List";}

<h2> List </h2>

<div align = "center">
    <a class="btn btn-success" href = "@Url.Action("Add","Country")"> Add New Country </a> 
    <br/><br/>
    <table cellpadding = "2" class = "table" cellspacing = "2" border = "1">
    <tr class = "btn-primary">
        <th> id</th> 
        <th> country_name</th> 
        <th> phone_code</th> 
        <th> country_code</th>  
        <th> Action</th> 
    </tr>
    @foreach(var item in ViewBag.listCountrys)
    { 
        <tr>
            <td>@item.id</td> 
            <td>@item.country_name</td> 
            <td>@item.phone_code</td> 
            <td>@item.country_code</td>  
            <td> 
                <a class="btn btn-info" href="@Url.Action("Detail","Country",new {id= item.id})">Detail</a>   
                <a class="btn btn-warning" href="@Url.Action("Edit","Country",new {id= item.id})">Edit</a>   
                <a class="btn btn-danger" onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete","Country",new {id= item.id})">Delete</a> 
            </td>
        </tr>
    } 
</table> 
</div>  