﻿@{ViewBag.Title = "Course Add";}
@model elearning_net.Models.UserModelSearch

    <h2> Add </h2>

<div align = "center">
@using (Html.BeginForm("add", "User", FormMethod.Post))
{ 
    <table class = "table"> 
    <tr>
        <td>@Html.LabelFor(model => model.user.username) </td>
        <td>@Html.TextBoxFor(model => model.user.username) </td> 
    </tr>    
    <tr>
        <td>@Html.LabelFor(model => model.user.email) </td>
        <td>@Html.TextBoxFor(model => model.user.email) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.user.password) </td>
        <td>@Html.TextBoxFor(model => model.user.password) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.user.password_plain) </td>
        <td>@Html.TextBoxFor(model => model.user.password_plain) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.user.country) </td>
        <td>@Html.DropDownListFor(model => model.user.country, ViewBag.listCountry as SelectList, "Your Academic Level", new { @class = "form-control" })</td>
        
    </tr> 
    <tr>
        <td></td>
        <td><input class="btn btn-success" type = "submit" value = "Save"/></td> 
    </tr> 
</table>
} 
</div>  