﻿@{ViewBag.Title = "User List";}

<h2> List </h2>

<div align = "center"> 
    <a class="btn btn-success" href="@Url.Action("Add","User")"> Add New User </a> 
    <br /><br />

    <div class="alert alert-info">@ViewBag.message</div>
    <table cellpadding="2" class="table" cellspacing="2" border="1">
        <tr class="btn-primary">
            <th> id</th>
            <th> username</th>
            <th> email</th>
            <th> password</th>
            <th> coumntry name</th>
        </tr>
        @foreach (var item in ViewBag.listUser)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.username</td>
                <td>@item.email</td>
                <td>@item.password_plain</td>
                <td>@item.country.country_name</td>
            </tr>
        }
    </table> 

    <br /><br />
    <table cellpadding="2" class="table" cellspacing="2" border="1">
        <tr class="btn-primary">
            <th> id</th>
            <th> country_name</th> 
        </tr>
        @foreach (var item in ViewBag.listCountry)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.country_name</td> 
            </tr>
        }
    </table> 

    <br/><br/>
    <table cellpadding = "2" class = "table" cellspacing = "2" border = "1">
    <tr class = "btn-primary">
        <th> id</th> 
        <th> course_name</th> 
    </tr>
    @foreach(var item in ViewBag.listCourse)
    { 
        <tr>
            <td>@item.id</td> 
            <td>@item.course_name</td>   
        </tr>
    } 
    </table> 
</div>  