﻿@{ViewBag.Title = "Customer Detail";}
@model elearning_net.Models.CustomerModelSearch

    <h2> Detail </h2>

<div align = "center">  
    <table class = "table">
    <tr>
        <td>@Html.LabelFor(model => model.customer.CustomerId) </td>
        <td>@Html.DisplayFor(model => model.customer.CustomerId) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Name) </td>
        <td>@Html.DisplayFor(model => model.customer.Name) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Address) </td>
        <td>@Html.DisplayFor(model => model.customer.Address) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.MobileNo) </td>
        <td>@Html.DisplayFor(model => model.customer.MobileNo) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Birthdate) </td>
        <td>@Html.DisplayFor(model => model.customer.Birthdate) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.EmailId) </td>
        <td>@Html.DisplayFor(model => model.customer.EmailId) </td> 
    </tr>  
</table> 
</div>  