﻿@{ViewBag.Title = "Customer Edit";}
@model elearning_net.Models.CustomerModelSearch

    <h2> Edit </h2>

<div align = "center">
@using (Html.BeginForm("edit", "Customer", FormMethod.Post))
{ 
    <table class = "table">
    <tr>
        <td>@Html.LabelFor(model => model.customer.CustomerId) </td>
        <td>@Html.TextBoxFor(model => model.customer.CustomerId) </td>
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Name) </td>
        <td>@Html.TextBoxFor(model => model.customer.Name) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Address) </td>
        <td>@Html.TextBoxFor(model => model.customer.Address) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.MobileNo) </td>
        <td>@Html.TextBoxFor(model => model.customer.MobileNo) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.Birthdate) </td>
        <td>@Html.TextBoxFor(model => model.customer.Birthdate) </td> 
    </tr> 
    <tr>
        <td>@Html.LabelFor(model => model.customer.EmailId) </td>
        <td>@Html.TextBoxFor(model => model.customer.EmailId) </td> 
    </tr> 
    <tr>
        <td></td>
        <td>
            <input class="btn btn-success" type = "submit" value = "Save"/> &nbsp; 
            <a class = "btn btn-danger" href = "@Url.Action("Index","Customer")"> Back </a>
            @Html.HiddenFor(model => model.customer.id) 
       </td>
    </tr> 
</table>
} 
</div>  