﻿@{ViewBag.Title = "Customer List";}

<h2> List </h2>

<div align = "center">
    <a class="btn btn-success" href = "@Url.Action("Add","Customer")"> Add New Customer </a> 
    <br/><br/>
    <table cellpadding = "2" class = "table" cellspacing = "2" border = "1">
    <tr class = "btn-primary">
        <th> CustomerId</th> 
        <th> Name</th> 
        <th> Address</th> 
        <th> MobileNo</th> 
        <th> Birthdate</th> 
        <th> EmailId</th> 
        <th> Action</th> 
    </tr>
    @foreach(var Cust in ViewBag.listCustomers)
    { 
        <tr>
            <td>@Cust.CustomerId</td> 
            <td>@Cust.Name</td> 
            <td>@Cust.Address</td> 
            <td>@Cust.MobileNo</td> 
            <td>@Cust.Birthdate</td> 
            <td>@Cust.EmailId</td> 
            <td> 
                <a class="btn btn-info" href="@Url.Action("Detail","Customer",new {id= Cust.id})">Detail</a>   
                <a class="btn btn-warning" href="@Url.Action("Edit","Customer",new {id= Cust.id})">Edit</a>   
                <a class="btn btn-danger" onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete","Customer",new {id= Cust.id})">Delete</a> 
            </td>
        </tr>
    } 
</table> 
</div>  