﻿@{ViewBag.Title = "Course Add";}
@model elearning_net.Models.CourseModelSearch

    <h2> Add </h2>

<div align = "center">
@using (Html.BeginForm("add", "Course", FormMethod.Post))
{ 
    <table class = "table"> 
    <tr>
        <td>@Html.LabelFor(model => model.course.course_name) </td>
        <td>@Html.TextBoxFor(model => model.course.course_name) </td> 
    </tr>  
    <tr>
        <td></td>
        <td><input class="btn btn-success" type = "submit" value = "Save"/></td> 
    </tr> 
</table>
} 
</div>  