﻿@{ViewBag.Title = "Course Detail";}
@model elearning_net.Models.CourseModelSearch

    <h2> Detail </h2>

<div align = "center">  
    <table class = "table">
    <tr>
        <td>@Html.LabelFor(model => model.course.course_name) </td>
        <td>@Html.DisplayFor(model => model.course.course_name) </td>
    </tr>  
</table> 
</div>  