﻿@{ViewBag.Title = "Course Edit";}
@model elearning_net.Models.CourseModelSearch

    <h2> Edit </h2>

<div align = "center">
@using (Html.BeginForm("edit", "Course", FormMethod.Post))
{ 
    <table class = "table">  
    <tr>
        <td>@Html.LabelFor(model => model.course.course_name) </td>
        <td>@Html.TextBoxFor(model => model.course.course_name) </td> 
    </tr>  
    <tr>
        <td></td>
        <td>
            <input class="btn btn-success" type = "submit" value = "Save"/> &nbsp; 
            <a class = "btn btn-danger" href = "@Url.Action("Index","Course")"> Back </a>
            @Html.HiddenFor(model => model.course.id) 
       </td>
    </tr> 
</table>
} 
</div>  