﻿@{ViewBag.Title = "Course List";}

<h2> List </h2>

<div align = "center">
    <a class="btn btn-success" href = "@Url.Action("Add","Course")"> Add New Course </a> 
    <br/><br/>
    <table cellpadding = "2" class = "table" cellspacing = "2" border = "1">
    <tr class = "btn-primary">
        <th> id</th> 
        <th> course_name</th>  
        <th> Action</th> 
    </tr>
    @foreach(var item in ViewBag.listCourses)
    { 
        <tr>
            <td>@item.id</td> 
            <td>@item.course_name</td>  
            <td> 
                <a class="btn btn-info" href="@Url.Action("Detail","Course",new {id= item.id})">Detail</a>   
                <a class="btn btn-warning" href="@Url.Action("Edit","Course",new {id= item.id})">Edit</a>   
                <a class="btn btn-danger" onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete","Course",new {id= item.id})">Delete</a> 
            </td>
        </tr>
    } 
</table> 
</div>  